.search-jobs-body {
    background-color: #f5f5f5;
    min-height: 100vh;
}

.job-search {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.search-section {
    max-width: 1200px;
    height: 100px;
    width: max-content;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #7e7e7e;
}

.search-section input {
    height: 55px;
    padding: 0 20px;
    border: none;
    border-right: 1px solid #333;
    background-color: #fdfdfd;
    color: #333;
    outline: none;
    font-size: larger;
}

.search-section input[type="search"] {
    width: 70% !important;
    border-radius: 8px 0 0 8px;
}

.search-section input[type="text"] {
    width: 30% !important;
}

.filter-btn {
    margin-left: 50px;
    border-radius: 10px !important;
}


.search-section input::placeholder {
    color: #999;

}

.search-section button {
    padding: 0 20px;
    height: 55px;
    background-color: #333;
    /* Updated button background color to fit gray theme */
    border: none;
    border-radius: 0 8px 8px 0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #555;
}

/* Media Query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .job-search {
        margin: 20px auto;
    }

    .search-section {
        flex-direction: column;
    }

    .search-section input,
    .search-section button {
        width: calc(100% - 40px);
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .search-section button {
        border-radius: 8px;
    }
}


.search-categories {
    margin-top: 20px;
}

.search-categories p {
    font-weight: bold;
    margin-bottom: 10px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
}

.category {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.category.selected {
    background-color: #555;
    color: white;
    border-color: #555;
    transition: 0.2s ease-in-out;
}

.category.selected svg {
    color: white;
}


/* CSS for search results */
.search-results {
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 50px;
}

.search-results h2 {
    font-size: 24px;
    margin: 10px;
}

.job-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.job {
    padding: 20px;
    background-color: #ccc;
    border: 2px solid #7e7e7e;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job h3 {
    margin-bottom: 10px;
    color: #333;
}

.job p {
    color: #666;
}